<div class="form_row">
  <label for="name">Amount:</label>
  <%= form.text_field :amount,
                      :size => Item::NAME_SIZE,
                      :maxlength => Item::NAME_MAX_LENGTH %>
</div>