<div class="form_row">
  <label for="date">Transaction Date:</label>
  <%= javascript_tag "jQuery(function() {jQuery(\"#datepicker\").datepicker();});" %>
  <%= form.text_field :transaction_date, :id=> "datepicker", :size => 14%>
</div>