<div class="form_row">
  <table border="1" cellpadding="10" cellspacing ="1">
    <tr>
      <th> Transaction Name </th>
      <th> Amount Paid by </th>
      <th> Transaction Date </th>
      <th> Your Share </th>
    </tr>
  <% all_items.sort_by(&:transaction_date).each do |item| %>
    <tr>
      <td><%= link_to item.name, :id => item.id, :action => "show" %></td>
      <td><%= User.find(item.user_id).screen_name %></td>
      <td><%= item.transaction_date %></td>
      <td><%= UserItem.find_by_item_id_and_user_id(item.id, user.id).present? ? UserItem.find_by_item_id_and_user_id(item.id, user.id).amount : ' - ' %></td>
    </tr>
  <% end %>
  </table>
</div>