<div class="form_row">
  <label for="name">Item name:</label>
  <%= form.text_field :name,
                      :size => Item::NAME_SIZE,
                      :maxlength => Item::NAME_MAX_LENGTH %>
</div>