<div class="form_row">
  <label for="name">Transaction Type:</label>
  <% select_options = [['Shared Equally', 0]                     
                      ]%>
  <%= form.select :type, select_options %>
</div>