<div class="form_row">
  <label for="name">Expenditure name:</label>
  <%= form.text_field :name,
                      :size => Expense::NAME_SIZE,
                      :maxlength => Expense::NAME_MAX_LENGTH %>
</div>