<h2>Forgot Password</h2>
<% form_for :user do |form| %>
<fieldset>
  <legend><%= @title %></legend>
  <div class="form_row">
      <label for="remember_me">Email:</label>
      <%= form.text_field :email,
                      :size => User::SCREEN_NAME_SIZE+10,
                      :maxlength => User::EMAIL_MAX_LENGTH %>
  </div>
  <div class="form_row">
    <%= submit_tag "Send Password", :class => "submit"%>
  </div>
</fieldset>
<% end %>