<h1>Welcome!</h1>
<p>This is the site maintained for PG in order to track our money and the transactions.</p>
<p>Please track in all our money transactions that are done</p>
<p>Choose in the people who are involved in the transactions and then add them accordingly</p>
<p>Please do add in the amount transaction within a day of any transaction</p>
